<div class="advertising gutenberg">
    <div class="advertising__thumbnail">
        <a href="">
            <img data-src="https://picsum.photos/500/500.webp?random=2" alt="" width="350" height="200" class="lazy">
        </a>
    </div>
    <div class="advertising__content">
        <a href="" class="advertising__title link-dark">Как в новом коллективе понять с кем дружить?</a>

        <ol>
            <li>
                Определить кто тут самый инициативный и активный
            </li>
            <li>
                Дождаться очередной инициативности и активности
            </li>
            <li>
                Начать дружить с тем кто закатил глаза дальге всех.
            </li>
        </ol>

        <p>
            Финансы — здесь отображается история транзакций. Пополнить баланс сервиса можно через Карты, Вебмани, Капиталист и Крипту. На момент написания обзора пополнение осуществляется через саппорт.
        </p>
    </div>
</div>
