<div class="blockquote gutenberg">
    <div class="blockquote__thumbnail">
        <img data-src="https://picsum.photos/150/150.webp?random=2" width="150" height="150" alt="" class="lazy">
    </div>
    <div class="blockquote__content">
        <div class="blockquote__title">Томми Версетти</div>

        <small class="text-opacity">Главный по пельменям</small>

        <p>
            Быстрый рецепт ленивых пельменей, которые можно приготовить на скорую руку. Нет необходимости скрупулезно вылепливать одинаковые небольшие пельмешки, причем вкус блюда от этого никак не портится.
        </p>
    </div>
</div>
