<div class="read-more gutenberg">
    <div>
        <a href="#" class="read-more__thumbnail">
            <img data-src="https://picsum.photos/265/109.webp?random=12" alt="" width="267" height="109" class="lazy">
        </a>
    </div>

    <div class="read-more__content">
        <a href="" class="read-more__title">Президент США Джо Байден пукнул в присутствии членов британской королевской семьи. «Звуки были долгие и громкие.</a>

        <a href="" class="read-more__link link-decoration link-dark">читать подробнее</a>
    </div>
</div>
