{% extends 'templates/page.twig' %}

{# Заголовок #}
{% block pageTitle %}Пользовательское соглашение{% endblock %}

{# Хлебные крошки #}
{% block pageBreadcrumbs %}
    {% include 'components/breadcrumb.twig' with {
        crumbs: [
            { name: 'Пользовательское соглашение' }
        ]
    } %}
{% endblock %}

{# Контент #}
{% block pageContent %}
    <div class="text-content row">
        <div class="col-lg-7">
            <p>
                Когда только хочешь стать популярным блогером, возникает вопрос: что можно снимать, чтобы это было
                интересно аудитории? Есть разные типы контента — в TikTok выкладывают ролики о приютах, фильмах или
                просто видео под популярные композиции.
            </p>

            <p>
                Если хотите найти идеи для популярного контента сами, лучший способ — проводить в приложении минимум
                20-30 минут в день и смотреть все ролики, которые попадают к вам в рекомендации. Так вы увидите, что
                снимают разные блогеры, сможете оценить число их подписчиков и лайков на видео. Поймете, какие форматы
                подходят именно вам, и сможете что-то повторить.
            </p>
        </div>
    </div>
{% endblock %}
