html {
  font-size: 10px;
  scroll-behavior: initial !important;
}

:root {
  @each $name, $color in $theme-colors {
    --color-#{$name}: #{$color};
  }

  @each $name, $size in $border-radius {
    --border-radius-#{$name}: #{$size};
  }
}

html, body {
  min-height: 100vh;
}

body, button, input, textarea {
  font-family: $font-family-base;
}

body {
  font-size: $font-size;
  position: relative;
  color: color("black");
  background-color: white;
  font-weight: $font-weight;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
}
