<p>
    Активное использование пуш-уведомлений позволяет арбитражникам дожимать свою аудиторию,
    систематически напоминая ей о своём продукте или услуге и получая дополнительный профит.
    Очевидно, что отправлять пуши следует не бездумно — иначе аудитория быстро выгорит и
    перестанет реагировать на ваши сообщения. 
</p>

<figure>
    <img data-src="https://picsum.photos/600/250.webp" class="lazy" alt="Как" width="600" height="250">
    <figcaption>An elephant at sunset</figcaption>
</figure>

<p>
    В этом обзоре мы будем говорить о сервисе PUSH.express — умном инструменте для отправки
    пуш-уведомлений на приложения и веб-сайты. Мы подробно разберём функционал сервиса,
    расскажем о преимуществах и покажем, как без всяких знаний программирования
    автоматизировать отправку пушей.
</p>

<figure>
    <img data-src="https://picsum.photos/800/600.webp" class="lazy" alt="Как" width="800" height="600">
    <figcaption>An elephant at sunset</figcaption>
</figure>

<p>Проект основан Евгением #SmoguVse — в прошлом</p>

<h2>Особенности и преимущества PUSH.express</h2>

<p>
    Проект основан Евгением #SmoguVse — в прошлом арбитражником, а сейчас создателем
    полезных сервисов для арбитража. В affiliate-индустрии с 2015 года. Начинал с арбитража
    в myTarget, потом перешел в Facebook и в итоге остановился на разработке сервисов.
    Помимо PUSH.express создал iProxy.online — сервис мобильных прокси. 
</p>

{% include '../components/gutenberg/blockquote-fire.twig' %}

<p>
    В PUSH.express можно сходу отметить следующие плюсы:
</p>

<ul>
    <li>
        Один планировщик на все приложения. Сервис интегрирован по API с OneSignal (по
        запросу FireBase). Если вы уже работаете с приложениями, в которые вшит OneSignal,
        достаточно подключить их к своему кабинету в PUSH.express и создать единый
        планировщик, способный отправлять пуши на все приложения сразу.
    </li>
    <li>
        Автоматический приветственный бонус после регистрации — $15. Мелочь, а приятно!
    </li>
    <li>
        Глубокая аналитика и простая настройка. Знания программирования не понадобятся.
    </li>
    <li>
        Возможность создания кастомных аудиторий.
    </li>
    <li>
        Автопуши после событий. Сообщения отправятся в зависимости от того, совершил
        пользователь целевое действие или нет.
    </li>
    <li>
        A/B-тесты пушей. Позволит найти самые эффективные варианты креативов.
    </li>
    <li>
        Пуш-уведомления под ключ. Вам не нужно придумывать тексты заголовки, подбирать
        картинки и иконки. В вашем распоряжении готовые пуши, переведенные нейтив-спикерами
        на различные языки мира.
    </li>
</ul>

{% include '../components/gutenberg/read-more.twig' %}

<h2>Как добавить приложение и отправить пуш-уведомление в PUSH.express</h2>
<p>
    После простой регистрации мы попадаем в личный кабинет и первым же делом добавляем
    приложение.
</p>
<p>
    Для этого жмём «Мои приложения» — «Добавить приложение». Здесь необходимо указать
    название приложения, а также вставить ID и API Key из OneSignal.
</p>

<figure>
    <img data-src="https://picsum.photos/800/300.webp" class="lazy" alt="Как" width="800" height="300">
    <figcaption>An elephant at sunset</figcaption>
</figure>

<p>
    Авторизуемся в OneSignal, жмём «Settings» — «Keys & IDs», копируем ID и ключ, вставляем.
    Приложение добавлено.
</p>

<h2>Автопуш по конверсиям</h2>

<p>
    Еще одна крутая фишка, позволяющая полностью автоматизировать процесс отправки пушей в
    зависимости от событий, которые пользователь совершил или не совершил. Сильно повышает
    конверт на вертикалях вроде гемблинга и беттинга. 
</p>

<p>
    Для того, чтобы PUSH.express понимал, на каких устройствах были совершены конверсии,
    необходимо эту информацию передать. Сделать это можно при помощи:
</p>

<ul>
    <li>
        Постбеков
    </li>
    <li>
        Тегов OneSignal
    </li>
</ul>

<p>
    Для более подробной информации можно обратиться в <a href=""> чат-саппорта.</a>
</p>
<p>
    На примере ниже — настройка для отправки автоматического пуш-уведомления в следующей
    ситуации: если пользователь в течение 15 минут после регистрации не совершил депозит, он
    получит пуш. 
</p>

{% include '../components/gutenberg/advertising.twig' %}

<p>
    Авторизуемся в OneSignal, жмём «Settings» — «Keys & IDs», копируем ID и ключ, вставляем.
    Приложение добавлено.
</p>

<h2>Автопуш по конверсиям</h2>

<p>
    Еще одна крутая фишка, позволяющая полностью автоматизировать процесс отправки пушей в
    зависимости от событий, которые пользователь совершил или не совершил. Сильно повышает
    конверт на вертикалях вроде гемблинга и беттинга. 
</p>
<p>
    Для того, чтобы PUSH.express понимал, на каких устройствах были совершены конверсии,
    необходимо эту информацию передать. Сделать это можно при помощи:
</p>

<div>
    gut block
</div>

<p>
    Еще одна крутая фишка, позволяющая полностью автоматизировать процесс отправки пушей в
    зависимости от событий, которые пользователь совершил или не совершил. Сильно повышает
    конверт на вертикалях вроде гемблинга и беттинга. 
</p>
<p>
    Для того, чтобы PUSH.express понимал, на каких устройствах были совершены конверсии,
    необходимо эту информацию передать. Сделать это можно при помощи:
</p>

{% for i in 0..1 %}
    {% include '../components/gutenberg/blockquote.twig' %}
{% endfor %}

<p>
    Еще одна крутая фишка, позволяющая полностью автоматизировать процесс отправки пушей в
    зависимости от событий, которые пользователь совершил или не совершил. Сильно повышает
    конверт на вертикалях вроде гемблинга и беттинга. 
</p>
<p>
    Для того, чтобы PUSH.express понимал, на каких устройствах были совершены конверсии,
    необходимо эту информацию передать. Сделать это можно при помощи:
</p>

