<div class="news">
    <div class="news__left">
        <a href="single-news.html" class="news__thumbnail">
            <img data-src="https://picsum.photos/340/220.webp?random={{ image }}" class="lazy" alt="Конференция ALO KIEV 2021: как это было" width="340" height="240">
        </a>
    </div>
    <div class="news__content">
        <a href="single-news.html" class="news__title">Конференция ALO KIEV 2021: как это было</a>

        <div class="news__text">21-22 октября в Киеве прошло единственное интерактивное шоу для арбитражников — ALO KIEV 2021. 21-22 октября в Киеве прошло единственное интерактивное шоу для арбитражников — ALO KIEV 2021.</div>

        <div class="post__bottom">
            <div class="post__actions">
                <a href="single-news.html" class="action is-link">
                    {% include '../components/svg.twig' with {id: 'comment', width: '14', height: '14'} %}
                    15
                </a>

                <div class="action">
                    {% include '../components/svg.twig' with {id: 'comment', width: '15', height: '10'} %}
                    331
                </div>
            </div>

            <div class="post__date">09.11.21</div>
        </div>
    </div>
</div>
