<nav class="social {{ class }}">
    <a href="#" class="social__item" aria-label="YouTube">
        {% include '../components/svg.twig' with {id: 'youtube', width: '25', height: '18'} %}
    </a>
    <a href="#" class="social__item" aria-label="Facebook">
        {% include '../components/svg.twig' with {id: 'facebook'} %}
    </a>
    <a href="#" class="social__item" aria-label="Instagram">
        {% include '../components/svg.twig' with {id: 'instagram'} %}
    </a>
    <a href="#" class="social__item" aria-label="Vkontakte">
        {% include '../components/svg.twig' with {id: 'vk', width: '21', height: '12'} %}
    </a>
    <a href="#" class="social__item" aria-label="Odnoklassniki">
        {% include '../components/svg.twig' with {id: 'ok'} %}
    </a>
</nav>
