<div class="video">
    <a data-fancybox="video-gallery" data-src="https://www.youtube.com/watch?v=z2X2HaTvkl8" class="video__thumbnail">
        <img data-src="https://picsum.photos/600/600.webp?random={{ image }}" class="{{ slider == true ? 'swiper-lazy' : 'lazy' }}" width="340" height="220" alt="Конференция ALO KIEV 2021: как это было">

        {% if slider %}
            <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
        {% endif %}
    </a>

    <a data-fancybox="video-gallery" data-src="https://www.youtube.com/watch?v=z2X2HaTvkl8"
       class="video__title link-dark">Банковские Карты для Арбитража Трафика...</a>
</div>
