<div class="swiper js-banner">
    <div class="swiper-wrapper">
        {% for slide in 0..5 %}
            <div class="swiper-slide">
                <a class="banner-vertical" href="#" aria-label="Текст брендинга">
                    <img data-src="https://protraffic.com/wp-content/uploads/2021/11/tovarka_330h550_animacziya_2_gif.gif" class="lazy" alt="" width="330" height="550"/>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
